# App
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=changeme_super_secret_key_min_32_chars
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=changeme_refresh_secret_min_32_chars
JWT_REFRESH_EXPIRES_IN=7d

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=studypulse
DB_PASSWORD=studypulse
DB_NAME=studypulse
DB_SYNC=true

# MongoDB
MONGO_URI=mongodb://localhost:27017/studypulse
